doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href='/') Root
      /
      a(href='/about') About
    
    block content
    
    footer
      p Running on NodeJS with Express, Jade and Stylus