ul.pagination
  - i = 1
  - pageCount = getPageCount()
  - while ( i <= pageCount )
    if page == i
      li(class='active')
        a(href=pageURL(i)) #{i}
    else
      li
        a(href=pageURL(i)) #{i}
    - i++