h6
  span #{formattedDate(post.date)}

div.post
  h3.title
    a(href=post.url)
      = post.title
  div.post.content
    != post.preview
  
  p tags:&nbsp;&nbsp;
    - each tag in post.tags
      a(href=tagUrl(tag)) #{tag}
      | &nbsp;&nbsp;