@import url('http://fonts.googleapis.com/css?family=Gentium\+Basic:400,700')
@import './foundation/foundation.css'
@import './foundation/normalize.css'

body
  font 15px 'Gentium Basic', serif

header
	margin-bottom 15px

footer
	text-align center

.navigation
	text-align center

.sidebar
	margin-top 15px

a
	&:hover
		border-bottom 1px dotted #606060

h1, h2, h3, h4, h5, h6
 	font-family 'Gentium Basic', serif
 	font-weight normal
 	a
 		color #3a3a3a
 		&:hover
 			color #3a3a3a
 			border-bottom 1px dashed #3a3a3a

h6
  position relative
  font-size 1em
  color #999
  font-weight normal
  border-bottom 1px solid #ddd
  text-align center
	
 span
	  display inline-block
	  position relative
	  color #999
	  padding 0 8px
	  background #fff
	  top 10px
	  border 0

ul.lists
	list-style-type none

.title
	text-align center

.post
	margin 15px 0 60px 0
	.content
		margin 0 auto
		text-align justify
	ul
		margin-left 20px

.pagination
	.active
		a
			color #000
			text-decoration underline