// body
//   padding: 50px
//   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
// a
//   color: #00B7FF

@import url('http://fonts.googleapis.com/css?family=Gentium+Basic:400,700')
@import './foundation/foundation.css'
@import './foundation/normalize.css'

body
  font-family: 'Gentium Basic', serif
  padding-top: 30px

 h1, h2, h3, h4, h5
 	font-family: 'Gentium Basic', serif