body
  font 15px 'Gentium Basic', serif

header
	text-align center

footer
	text-align center

.sidebar
	margin-top 15px

a
	&:hover
		border-bottom 1px dotted #606060

h1, h2, h3, h4, h5, h6
 	font-family 'Gentium Basic', serif
 	font-weight normal
 	a
 		color #3a3a3a
 		&:hover
 			color #3a3a3a
 			border-bottom 1px dashed #3a3a3a

h6
  position relative
  font-size 1em
  color #999
  font-weight normal
  border-bottom 1px solid #ddd
  text-align center
	
 span
	  display inline-block
	  position relative
	  color #999
	  padding 0 8px
	  background #fff
	  top 10px
	  border 0

ul.lists
	list-style-type none

.title
	text-align center

.post
	margin 15px 0 60px 0
	.content
		margin 0 auto
		text-align justify
	ul
		list-style-position inside

.pagination
	.active
		a
			color #000
			text-decoration underline

code
	font 0.9em 'Ubuntu Mono' monospace
	padding 0 3px
	border-radius 3px
	border 1px solid rgb(204, 204, 204)
	span
		background inherit
		top 0
		padding 0

pre
	code
		padding 0.5em