extends layout

block content
  h6
    span= title
  :markdown
    My name is Minh Ha.  
    I work with the awesome folks at [Enspiral](http://enspiral.com)  
    &nbsp;  
    This is me on [github](https://github.com/mekf). I have some settings that you may like.
