extends layout

block content
  h6
    span= title
  .content
    :markdown
      My name is Minh Ha.  
      I work with the awesome folks at [Enspiral](http://enspiral.com)
      &nbsp;  
      &nbsp;  
      This is [me on github](https://github.com/mekf). I have some settings you might like.
      &nbsp;  
      &nbsp;  
      You can email me at <minh@minh.im>