doctype 5
html
  head
    title= title
    != css('app_styles')
    != js('app_scripts')
    //- todo: requirejs, connect-assets-jspaths
  body
    .container
      header
        .row
          .small-8.columns
            include partials/navigation
          .small-1.columns
          .small-3.columns
              
      .row        
        .small-8.columns
          block content
        .small-1.columns
        .small-3.columns
          include partials/sidebar
    
      footer
        .row
          hr
          p Running on Node.JS with Express, CoffeeScript, Jade, Stylus, and Zurb Foundation