doctype 5
html
  head
    title= title
    != css('app_styles')
    != js('app_scripts')
  body
    .container
      header
        .row
          center
            a(href='/') home
              | - 
            a(href='/about') about me
              
      .row        
        .small-8.columns
          block content
        .small-4.columns
          div sidebar
    
      footer
        .row
          hr
          p Running on NodeJS with Express, Jade, Stylus, and Zurb Foundation