doctype 5
html
  head
    title= title
    != css('app_styles')
    != js('app_scripts')
  body
    header
      .container
        nav.top-bar
          ul.title-area
            li.name
              h1 
                a(href='/') minh.im
          section.top-bar-section
            ul.right
              li.divider
              li
                a(href='/') home
              li.divider
              li
                a(href='/about') about me
    .container
      .row
        block content
    
    footer
      .container
        .row
          hr
          p Running on NodeJS with Express, Jade, Stylus, and Zurb Foundation