doctype 5
html
  head
    title= title
    != css('style')
  body
    header
      a(href='/') Root
      /
      a(href='/about') About
    
    block content
    
    footer
      p Running on NodeJS with Express, Jade and Stylus