doctype 5
html
  head
    title= title
    != css('app_styles')
    != js('app_scripts')
  body
    header
      a(href='/') Root
      /
      a(href='/about') About
    
    block content
    
    footer
      p Running on NodeJS with Express, Jade, Stylus, and Zurb Foundation